<div class="form-group location-city-f-group {{#if error}}has-error has-feedback{{/if}}">
  <label for="{{fieldId}}">{{{label}}} {{#ifCond field.allowNull false}}*{{/ifCond}}</label>
  {{{field-help-error error}}}

  <select id="{{fieldId}}" name="{{name}}"
    class="form-control" {{{fieldAttrs}}}
    {{#if field.formFieldMultiple}}multiple="multiple"{{/if}}>
      <option value="{{value}}">{{value}}</option>
  </select>

  <p class="help-block">{{{help}}}</p>
  {{{field-help-error error}}}
</div>

<script>$(document).ready(function() {
  function checkCityDisabled (state) {
    if (!state) {
      citySelector.attr('disabled', 'disabled');
    } else {
      citySelector.attr('disabled', null);
    }
  }

  var state = $('#{{formId}} select[name="{{field.formStateFieldName}}"]')[0].value;
  var citySelector = $('#{{fieldId}}');

  checkCityDisabled(state);

  {{#if field.formStateFieldName}}
    $('#{{formId}} select[name="{{field.formStateFieldName}}"]').change(function() {
      state = this.value;
      checkCityDisabled(state);
    })
  {{/if}}

  // only suport pt-br cities and states
  // TODO add suport to others regions
  $('#{{formId}} [name="{{field.formCountryFieldName}}"]')
  .change(function(){
    if ($(this).val() !== 'BR') {
      citySelector.val(null);
      citySelector.parent().hide();
    } else {
      citySelector.parent().show();
    }
  });

  we.components.select.init('#{{fieldId}}', {
    searchField: 'name',
    cache: true,
    url: function () {
      return '/api/v1/location/BR/' + state;
    },
    processResults: function (data, params) {
      if (!data || !data.lcity) return {};
      return {
        results: data.lcity.map(function(r, i) {
          return { text: r.name, id: r.name };
        })
      };
    }
  });
});</script>